{{ form_start(form,  {'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
    <div class="control-group">
        <label class="control-label">{{ form_label(form.nom) }}</label>
        <div class="controls">
            {{ form_widget(form.nom, {'attr': {'class': 'input-xlarge'}}) }}
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ form_label(form.description) }}</label>
        <div class="controls">
            {{ form_widget(form.description, {'attr': {'class': 'input-xlarge'}}) }}
            <p class="help-block"></p>
        </div>
    </div>
    <button class="btn btn-sm btn-success">{{ button_label|default('Sauvegarder') }}</button>
</fieldset>
{{ form_end(form) }}
