{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
                <h1>Categorie</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ category.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ category.nom }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ category.description }}</td>
                        </tr>
                    </tbody>
                </table>
            
                <a href={{ path('category_edit', {'id': category.id}) }}>
                    <button class="btn btn-sm btn-primary mr-2">Modifier</button>
                </a>

                <a href={{ path('category_index') }}>
                    <button class="btn btn-sm btn-secondary mr-2">Retour à la liste</button>
                </a>
            
            
                {{ include('category/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
