{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="justify-content-center mt-5">
            <h1>Changer le mot de passe</h1>

            {{ form_start(form,  {'attr': {'class': 'form-horizontal'}}) }}
            <fieldset>
                <div class="control-group">
                    <label class="control-label">{{ form_label(form.oldPassword) }}</label>
                    <div class="controls">
                        {{ form_widget(form.oldPassword, {'attr': {'class': 'input-xlarge'}}) }}
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        {{ form_widget(form.plainPassword, {'attr': {'class': 'input-xlarge'}}) }}
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-sm btn-success">{{ button_label|default('Sauvegarder') }}</button>
                    </div>
                </div>

            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
