{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="justify-content-center mt-5">
            {% for msg1 in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ msg1 }}
                </div>
            {% endfor %}
            {% for msg2 in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ msg2 }}
                </div>
            {% endfor %}
            <h1>Changer le mot de passe</h1>

            {{ form_start(changePasswordForm,  {'attr': {'class': 'form-horizontal'}}) }}
            <fieldset>
                <div class="control-group">
                    <label class="control-label">{{ form_label(changePasswordForm.oldPassword) }}</label>
                    <div class="controls">
                        {{ form_widget(changePasswordForm.oldPassword, {'attr': {'class': 'input-xlarge'}}) }}
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        {{ form_widget(changePasswordForm.plainPassword, {'attr': {'class': 'input-xlarge'}}) }}
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-sm btn-success">{{ button_label|default('Sauvegarder') }}</button>
                    </div>
                </div>

            </fieldset>
            {{ form_end(changePasswordForm) }}
        </div>
    </div>
{% endblock %}
